<%- include("partials/header") -%>
<div class="centered">
    <div>
        <i class="fa-sharp fa-solid fa-key fa-6x"></i>
        <h1 class="secrete">Secrets</h1>
        <p>Don't keep your secrets, share them anonymously!</p>
        <hr>
        <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

    </div>
</div>
<%- include("partials/footer") -%>
