<%- include("partials/header") -%>

<div class="centered">
    <div>
        <i class="fa-sharp fa-solid fa-key fa-6x"></i>
        <h1 class="secrete secreteh">You've Discovered My Secrets</h1>
       <div class="small"> <p>Thor is my Hero</p></div>
        <hr>
        <a class="btn btn-light btn-lg" href="/register" role="button">Logout</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Submit a Secrete</a>

    </div>
</div>

<%- include("partials/footer") -%>
